.box {
  min-height: 85vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.item {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 33%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  margin-left: 63%;
}
.author {
  font-style: italic;
  color: gray;
}
