.box {
  display: flex;
  min-height: 5vh;
}
.customInput {
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
}
.customInput:focus {
  outline: none;
  border: none;
}
.customInput:active {
  outline: none;
  border: none;
}
