.list {
  width: 520px;
  min-height: 300px;
  border: 1px solid blueviolet;
  border-radius: 10px;
  background-color: #a2d7fc;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}
.item {
  width: 490px;
  padding: 2px 5px 5px 5px;
  background-color: #74b4e0;
  border-radius: 5px;
  color: white;
  font-style: italic;
  margin-bottom: 5px;
  word-wrap: break-word;
}
.author {
  font-weight: bold;
  color: blue;
}
