* {
  margin: 0;
  padding: 0;
}
.wrapper {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  max-width: 1300px;
  display: flex;
  margin: 20px auto;
  box-sizing: border-box;
}
.content {
  flex: 1.5;
}
.left_column {
  flex: 1;
}
